# ===============================
# Dependencies
# ===============================
node_modules/
.pnp/
.pnp.js

# ===============================
# Nx
# ===============================
.nx/
dist/
tmp/
.cache/
.nx-cache/

# ===============================
# Build Outputs
# ===============================
build/
out/
coverage/
storybook-static/

# ===============================
# Next.js
# ===============================
.next/
.next/cache/

# ===============================
# NestJS
# ===============================
dist/
apps/**/dist/

# ===============================
# Logs
# ===============================
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
error.log

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Testing
# ===============================
coverage/
test-results/
playwright-report/
blob-report/
.vitest/
*.spec.ts.snap

# ===============================
# IDEs / Editors
# ===============================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.vscode/extensions.json

.idea/
*.swp
*.swo

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Misc
# ===============================
*.tgz
